
.tabla{
    display: flex;
    flex-direction: column;
    width: 75%;
    font-weight: 500;
    margin: auto auto 50px auto;
}

.rowTabla{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px ;
}
.rowTabla2{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.premiun{
    color: #E9DD01;
    font-weight: 600;
}

.tituloPlan{
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0 20px 20px ;
}

.rowTabla1{
    width: 500px;
    font-size: 16px;
}

.lineaDiv{
    width: 100%;
    height: 1px;
    background-color: #303030;

}


@media screen and (max-width: 1050px) {
    .tabla{
        display: flex;
        flex-direction: column;
        width: 95%;
        font-weight: 500;
        margin: auto;
    }
}


@media screen and (max-width: 750px) {
    .tabla{
      display: none;
    }
    .premiun{
        color: #E9DD01;
        font-weight: 600;
    }
}


/* 
----------------------------------------------
VISTA MOBILE
----------------------------------------------
*/

.view-mobile{
    display: none;
}

@media screen and (max-width: 750px) {
    .view-mobile{
        display: block;
    }
    .cuadro-tablaP{
        border: solid #E9DD01;
        border-radius: 30px;
        padding: 20px;
        margin: 30px 0; 
    }
    .cuadro-tabla{
        border: solid #E9DD01;
        border-radius: 30px;
        padding: 20px;
        margin: 30px 0; 
        
        transition: all 0.3s;
    }

    .cuadro-tabla2{
        border: solid #303030;
        border-radius: 30px;
       padding: 10px;
        overflow-y: hidden;
        height: 50px;
        margin: 20px 0;
        transition: all 0.3s;
    }

    .enableCuadro{
        transition: all 0.3s;
        padding: 20px;
        height: auto;
    }
}
