/* La mayoria de los estilos para la seccion de PREGUNTAS FRECUENTES fueron reutilizadas de la seccio de PLANES  */

.preguntas{
    width: 70%;
    margin: 50px auto;
}

.rowTabla img{
    cursor: pointer;
}

.rowTabla img:hover{
    box-shadow: 0px 0px 26px -4px #e9dd0166;
}


.respuesta{
    padding: 20px;
    max-width: 90ch;
}
.noMostrar{
    display: none;
}

@media screen and (max-width: 750px) {
    .preguntas{
        width: 90%;
    }

}